@media (min-width: 30rem) {
  .app {
    max-width: 30rem;
  }
}
$black: #121212;
$shade: rgba(38, 35, 35, 0.8);

.app_container {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  overflow: hidden;

  .app {
    width: 100%;
    background-color: $shade;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto auto;

    .scrollabel_section {
      &::-webkit-scrollbar{
        background-color: $shade;
      }
      flex-grow: 1;
      overflow-y: auto;
      // border: 1px solid red;
    }
  }
}
